@import "theme"
configuration {
	font: "Iosevka Medium 16";
	show-icons: true;
	icon-theme: "Arc";
	terminal: "alacritty";
	run,drun,window {
		fallback-icon: "/home/tyler/.rep/dotfiles/config/rofi/icon.png";
	}
}
