/* Waybar */

* {
  font-size: 14px;
  font-family: 'Fira Code Medium';
  border-radius: 0px;
  padding: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
}

window#waybar {
  background: rgba(20, 20, 20, 0.75);
  color: #ffffff;
}

#workspaces,
#tray {
  padding: 0px;
}

#workspaces button {
  padding: 0px;
  color: #ffffff;
  margin-right: 4px;
  border-top: 2px solid transparent;
  padding-bottom: 2px;
}

#workspaces button.persistent {
  color: #bbbbbb;
  border-top: 2px solid transparent;
}

#workspaces button.urgent {
    border-top: 2px solid #c9545d;
	background-color: #871c25; 
    color: #c9545d;
}

#workspaces button.focused {
  border-top: 2px solid #4c7899;
  padding-bottom: 2px;
  background-color: #285577;
}

#workspaces button:hover {
  background-color: #588597;
}

#window {
  color: #ffffff;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
  color: #ffffff;
  padding: 0 12px;
  padding-left: 6px;
}

